<%= spectre_form_with model: @event, local: true, class: 'form-horizontal' do |f| %>
  <div class="card">
    <div class="card-body">
      <%= f.error_notification %>

      <%= f.group :title do %>
        <div class="col-3 col-sm-12">
          <%= f.label :title %>
        </div>
        <div class="col-9 col-sm-12">
          <%= f.text_field :title %>
          <%= f.errors :title %>
        </div>
      <% end %>

      <%= f.group :location do %>
        <div class="col-3 col-sm-12">
          <%= f.label :location %>
        </div>
        <div class="col-9 col-sm-12">
          <%= f.select :location, event_locations %>
          <%= f.errors :location %>
        </div>
      <% end %>

      <%= f.group :event_date do %>
        <div class="col-3 col-sm-12">
          <%= f.label :date %>
        </div>
        <div class="col-9 col-sm-12">
          <%= f.select :event_date, event_dates %>
          <%= f.errors :location %>
        </div>
      <% end %>

      <%= f.group :time do %>
        <div class="col-3 col-sm-12">
          <%= f.label :time %>
        </div>
        <div class="col-9 col-sm-12">
          <%= f.time_field :time %>
          <%= f.errors :time %>
        </div>
      <% end %>

      <%= f.group :end_time do %>
        <div class="col-3 col-sm-12">
          <%= f.label :end_time %>
        </div>
        <div class="col-9 col-sm-12">
          <%= f.time_field :end_time %>
          <%= f.errors :time %>
        </div>
      <% end %>

    </div>
    <div class="card-footer mt-5 bg-gray">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>