<%= spectre_form_with model: @vendor, local: true, class: 'form-horizontal' do |f| %>
  <div class="card">
    <div class="card-body">
      <%= f.error_notification %>

      <%= f.group :name do %>
        <div class="col-3 col-sm-12">
          <%= f.label :name %>
        </div>
        <div class="col-9 col-sm-12">
          <%= f.text_field :name %>
          <%= f.errors :name %>
        </div>
      <% end %>

      <%= f.group :description do %>
        <div class="col-3 col-sm-12">
          <%= f.label :description %>
        </div>
        <div class="col-9 col-sm-12">
          <%= f.text_area :description %>
          <%= f.errors :description %>
        </div>
      <% end %>

      <%= f.group :location do %>
        <div class="col-3 col-sm-12">
          <%= f.label :location %>
        </div>
        <div class="col-9 col-sm-12">
          <%= f.select :location, vendor_locations %>
          <%= f.errors :location %>
        </div>
      <% end %>

    </div>
    <div class="card-footer mt-5 bg-gray">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
