<%= content_tag :div, id: dom_id(food), class: 'card mb-5' do %>
  <div class="card-body">
    <div class="d-flex align-items-center">
      <%= icon 'resize-vert c-move mr-5' %>
      <div class="pr-5">
        <%= image_tag food.image_url(:thumbnail), width: 100, class: 'c-move' if food.image %>
      </div>
      <div class="pr-5">
        <%= content_tag :span, food.name, class: 'text-bold' %>
        <p class="tile-subtitle text-gray mb-0">
          <%= food.description %>
        </p>
      </div>
      <div class="ml-auto">
        <%= link_to 'Edit', edit_food_path(food), class: 'btn btn-primary' %>
        <%= link_to icon('cross'), food_path(food), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-error' %>
      </div>
    </div>
  </div>
<% end %>
