<header class="navbar bg-gray mb-5 p-5">
  <section class="navbar-section">
    <%= link_to 'Carnaval', root_path, class: 'navbar-brand mr-2' %>
  </section>

  <section class="navbar-section">
    <% if current_user %>
      <%= link_to 'Dashboard', dashboard_path, class: 'btn btn-link text-bold' %>

      <div class="dropdown dropdown-right">
        <%= link_to icon('apps'), '#/', class: 'btn btn-link dropdown-toggle' %>
        <ul class="menu">
          <li class="menu-item">
            <%= link_to 'Sponsors', sponsors_path %>
          </li>
          <li class="menu-item">
            <%= link_to "FAQ's", faqs_path %>
          </li>
          <li class="menu-item">
          <%= link_to "Foods", foods_path %>
        </li>
        <li class="menu-item">
        <%= link_to "Vendors", vendors_path %>
      </li>
      <li class="menu-item">
      <%= link_to "Events", events_path %>
    </li>
        </ul>
      </div>

      <%= link_to 'Log out', logout_path, class: 'btn btn-link' %>
    <% else %>
      <%= link_to 'Log in', login_path, class: 'btn btn-link' %>
    <% end %>
  </section>
</header>
